{{yield}}
<div class="container">
  <div id="individualPostColumn">
    <div id="individualPostHeader">
      <h2>{{post.title}}</h2>
      <h4>{{post.date}}</h4>
      <h4>By {{post.author}}</h4>
      <hr>
      <a href="{{post.image}}"><img src="{{post.image}}" width="500"></a>
      <hr>
    </div>
  <p>{{post.content}}</p>
  </div>
</div>
