{{yield}}
<div class="container">
  <div id="individualPostColumn">
    <div id="individualPostHeader">
      <h2>{{post.title}}</h2>
      <h4>{{post.date}}</h4>
      <h4>By {{post.author}}</h4>
      <hr>
      <a href="{{post.image}}"><img src="{{post.image}}" width="500"></a>
      <hr>
    </div>
  <p>{{post.content}}</p>
  <hr>
    <h2 class="centerize">Comments</h2>
    <hr>
      {{#each post.comments as |comment|}}
        <h4>{{comment.title}}</h4>
          <p>{{comment.response}}</p>
        <hr>
      {{/each}}
      {{new-comment post=post saveComment="saveComment"}}
  </div>
</div>
